<table align="center" border="1">
    <tr>
        <th>
            Employee Id
        </th>
        <th>
            Employee Name
        </th>
        <th>
            Act Date
        </th>
        <th>
            Ext Project
        </th>
        <th>
            Es Number
        </th>
        <th>
            External Project
        </th>
        <th>
            Project
        </th>
        <th>
            Wbs
        </th>
        <th>
            Attribute
        </th>
        <th>
            AA type
        </th>
        <th>
            Project Type
        </th>
        <th>
            Hours Mentioned
        </th>

    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td>
                @item.EmployeeId
            </td>
            <td>
                @item.EmployeeName
            </td>
            <td>
                @item.ActDate
            </td>
            <td>
                @item.ExtProject
            </td>
            <td>
                @item.Esnumber
            </td>
            <td>
                @item.ExternalProject
            </td>
            <td>
                @item.Project
            </td>
            <td>
                @item.Wbs
            </td>
            <td>
                @item.Attribute
            </td>
            <td>
                @item.AAtype
            </td>
            <td>
                @item.ProjectType
            </td>
            <td>
                @item.HoursMentioned
            </td>

        </tr>

    }


</table>